@font-face {
  font-family: 'Arboria';
  src: url('../fonts/Arboria-Black.woff2') format('woff2'),
      url('../fonts/Arboria-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arboria';
  src: url('../fonts/Arboria-Bold.woff2') format('woff2'),
      url('../fonts/Arboria-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arboria';
  src: url('../fonts/Arboria-Light.woff2') format('woff2'),
      url('../fonts/Arboria-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arboria';
  src: url('../fonts/Arboria-Medium.woff2') format('woff2'),
      url('../fonts/Arboria-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Medium.woff2') format('woff2'),
      url('../fonts/NeueHaasUnica-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Thin.woff2') format('woff2'),
      url('../fonts/NeueHaasUnica-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Regular.woff2') format('woff2'),
      url('../fonts/NeueHaasUnica-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Haas Unica';
  src: url('../fonts/NeueHaasUnica-Bold.woff2') format('woff2'),
      url('../fonts/NeueHaasUnica-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

