@use "_fonts";

h1{
  font-family: 'Arboria';
}
h2, h3, h4, h5, h6,
p, a{
  font-family: 'Neue Haas Unica', sans-serif;
}

.productgridslide{
  display: flex;

  
  .thumbnail_carousel .swiper {
    height: 100%;
  }
  
  .thumbnail_carousel .swiper-wrapper {
    flex-direction: column;
  }
  
  .thumbnail_carousel .swiper-slide {
    height: auto!important;
    margin-bottom: 10px!important;
  }

  .thumbnail_carousel .thumbnail{
    picture,
    img{
      max-width: 100%;
      width: 100%;
    }
  }
  
  .carousel_control_prev,
  .carousel_control_next {
    display: none; /* opcional, puedes ocultar las flechas horizontales */
  }
  
  .elcarrusel{
    width: 70%;
  }
}
.dataprodint{

  .btn-group{
    gap: 0 10px;
    margin: 0!important;
  }
  &--pricegrid{
    display: flex;
    align-items: center;
    margin: 30px 0 0;
    .list{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      li{
        width: 45%;
        .btn{
          font-size: 16px;
          height: 48px;
          display: flex;
          align-items: center;          
        }
      }
    }
  }

  &--info{
    display: flex;
    p{
      font-size: 20px;
      font-weight: 400;
      font-family: 'Arboria';
      margin: 0;
      margin-right: auto;
      a{
        font-size: inherit;
      }
    }
    .tool_link{
      list-style: none;
      a{
        text-decoration: none;
        &:before{
          font-size: 40px!important;
          margin: 0!important;
          margin-right: 0!important;
          display: block!important;
        }        
      }
      .tinvwl_add_to_wishlist-text{
        display: none;
      }
    }
  }

  .btn{
    border-radius: 0;
  }
  h1{
    font-family: 'Neue Haas Unica', sans-serif;
    font-weight: 400;
  }
  .btn-group{
    margin: 0 10px;
  }
  .count_block .btn{
    border-radius: 0;
  }
  .price{
    margin: 5px 0;
    justify-content: flex-start;
    font-family: 'Neue Haas Unica', sans-serif;
    font-size: 40px;
    font-weight: 400;
    position: relative;
    display: block;
    width: 100%;
    del{
      margin: 0;
      line-height: 1;
      position: absolute;
      right: -5px;
      top: 5px;
      font-size: 15px;
      color: red;
      opacity: .5;
    }
  }
}
.prod_desc{
  font-family: 'Neue Haas Unica', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  padding-top: 10px;
}

.sec-title{
  font-weight: normal;
  margin-bottom: 20px;
  padding-bottom: 20px;
  span{
    display: inline-block;
    border-bottom: 3px solid black;
  }
}

.homePageBanner{
  background-size: cover;
  background-position: center 100%;
  .container{
    height: 100vh;
    max-height: 800px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media( max-width: 560px ){
      max-height: 400px;
    }
  }
  
  &--title{
    text-align: center;
    color: white;
    font-family: 'Arboria';
    font-weight: normal;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0;
    padding-bottom: 50px;
    @media( max-width: 560px ){
      font-size: 40px;
      padding: 10px;
    }    
  }

}


.theCollectionsGrid{
  padding: 80px 0;
  @media( max-width: 560px ){
    padding: 40px 0;
  }

  &--grid{
    gap: 30px 0;
    .offer-card{
      border: 2px solid black;
      &:hover{
        .offer-card--img{
          img{
            transform: scale(1);
          }
        }
      }
      &--img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 330px;
        cursor: pointer;
        img{
          display: block;
          max-width: 100%;
          transform: scale(.9);
          transition: all .2s linear;
        }
      }

      &--data{
        .box-title{
          text-align: center;
          font-weight: normal;
          text-transform: uppercase;
          font-size: 24px;
          &:hover{
            a{
              text-decoration: underline;
            }
          }
          a{
            text-decoration: none;
          }
        }
      }
    }
  }

}


.homePageCta{

  background-size: cover;
  background-position: 100%;
  padding: 20px 0;

  @media( max-width: 480px ){
    padding-top: 40px;
  }

  .container{
    min-height: 520px;
    display: flex;
    align-items: center;
  }

  &--data{
    color: white;
    width: 100%;
  }

  &--title,
  &--desc{
    line-height: 1.25;
    font-weight: 300;
    @media( max-width: 480px ){
      text-align: center;
    }
  }
  &--title{
    font-size: 50px;
    margin: 0;
    width: 100%;
    max-width: 750px;    
    @media( max-width: 480px ){
      font-size: 35px;
    }
  }
  &--desc{
    padding-top: 20px;
    p{
      font-size: 30px;
      margin: 0 0 0;
      width: 100%;
      max-width: 750px;      
    }
    &-links{
      padding-top: 50px;
      display: flex;
      align-items: center;
      @media( max-width: 480px ){
        flex-flow: column;
        justify-content: center;
      }
      .social{
        margin-left: auto;
        display: flex;
        gap: 0 40px;
        @media( max-width: 480px ){
          margin: 20px auto;
        }
        a{
          font-size: 50px;
        }
      }
      a{
        color: white;
        &.boton{
          display: inline-flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-weight: 500;
          color: black;
          background-color: white;
          width: 100%;
          max-width: 230px;
          height: 60px;
          text-decoration: none;
          font-size: 30px;
          font-family: 'Arboria';
        }
      }
    }    
  }


}

.homePageEndCollections{
  .container{
    max-width: 1920px;
  }
  .row{
    gap: 20px 0;
  }
  a{
    position: relative;
    &:hover{
      span{
        opacity: 1;
      }
    }
    span{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.5);
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: white;
      font-size: 30px;
      font-family: 'Arboria';
      opacity: 0;
      transition: all .2s linear;
    }
  }
}


footer{
  display: none;
}


.filter_block{
  svg{
    display: none;
  }
  .widget-title{
    display: none;
    &:first-child{
      display: block;
    }
  }
  .collapse:not(.show){
    display: block;
  }
}


.grid-view .product-loop-item .box_product_item {
  display: block;
}
.list-view .product-loop-item {
  width: 100%;
}

.list-view .product-loop-item .box_product_item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.list-view .box_product_item .position-relative {
  width: 30%;
}

.list-view .box_product_item .description_block {
  width: 70%;
  text-align: left;
}


.listOfProducts{

  &--banner{
    position: relative;
    padding: 20px 0 50px;
    .container{
      position: relative;
    }
    &-img{
      position: relative;
    }
    &-data{
      width: 100%;
      position: absolute;
      top: 0;
      padding: 20px 0 50px;
      height: 100%;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: flex-end;
      flex-flow: column;
      text-align: center;
      h2{
        width: 100%;
        max-width: 500px;
        color: white;
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Arboria';
        span{
          border-bottom: 5px solid white;
        }
      }
      a.btn{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: white;
        width: 100%;
        max-width: 150px;
        height: 45px;
        border: 2px solid white;
        margin-top: 30px;
        border-radius: 0;
        text-transform: none;
        font-size: 20px;
        font-family: 'Arboria';
        font-weight: 400;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
  }

  &--products{
    padding: 0 40px;
    &.list-view{
      .top_part_description{
        border-top: 0!important;
      }
    }
  }

  &--introdata{
    display: flex;
    align-items: center;
    padding: 5px 0 25px;
    h1{
      text-transform: uppercase;
      font-weight: normal;
      width: 80%;
      margin: 0;
      margin-right: auto;
      @media(max-width: 979px){
        width: 100%;
      }
    }
    .toggle-view{
      display: flex;
      gap: 5px;
      button{
        outline: 0!important;
        box-shadow: none!important;
        padding: 0;
        width: 35px;
        height: 35px;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 1;
        color: #929292;
        background-color: white;
        border-color: #929292;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        &.active{
          background-color: #929292;
          color: white;
        }
      }
    }

  }

  &--wrapper{
    gap: 25px 0;
  }

  .productCard {
    background-color: white;
    border: 1px solid black;
    &--img{
      display: flex;
      width: 100%;
      height: 225px;
      a{
        width: 100%;
        padding: 15px;
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    .thumbnail_img{
      display: none;
    }
    .item_img{
      aspect-ratio: unset;
      border: 0;
      width: 100%;
      position: relative;      
      img{
        display: block;
        margin: 0 auto;
      }
    }

    &--desc{
      padding: 0 20px 0;
      margin-top: 10px;
      .top_part_description{
        border-top: 1px solid black;
        padding: 15px 15px 0;
        text-align: left;
        .product-category{
          font-size: 15px;
          margin: 0 0 5px;
          line-height: 1;
          font-size: 12px;
          opacity: .75;
          font-weight: normal;
        }
        .main_heading{
          font-weight: normal;
          font-family: 'Arboria';
          font-size: 19px;
          font-weight: 400;
          line-height: 1.25;
          height: 55px; /* Aprox. 2 líneas de texto */
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2; /* Número de líneas visibles */
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;   
          margin: 0;       
        }
        .price{
          margin: 5px 0;
          justify-content: flex-start;
          font-family: 'Neue Haas Unica', sans-serif;
          font-size: 25px;
          font-weight: normal;
          position: relative;
          display: block;
          width: 100%;
          del{
            margin: 0;
            line-height: 1;
            position: absolute;
            right: -5px;
            top: 5px;
            font-size: 12px;
            color: red;
            opacity: .5;
          }
        }
      }
    }
    &--btns{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;

      .productCard--wishList{
        position: relative;
        left: 15px;
      }
      .add_to_cart_button{
        font-size: 13px;
        font-family: 'Neue Haas Unica', sans-serif;
        font-weight: bold;
        width: 100%;
        max-width: 180px;
        height: 45px;
        display: flex!important;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .tinv-wishlist{
        .tinvwl_add_to_wishlist-text{
          display: none;
        }        
        .tinvwl_add_to_wishlist_button.tinvwl-icon-heart{
          width: 35px;
          height: 35px;
          &:before{
            font-size: 33px;
            margin: 0;
            display: block;
          }
        }
      }
    }

  }

  .woocommerce-pagination{
    .page-numbers{
      justify-content: flex-end;
      margin-right: 0;
      span{
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        display: flex;
        border: 1px solid;
        line-height: 1em;
        padding: 8px 10px;
        text-decoration: none !important;        
        &.current{
          background-color: black;
          color: white;
        }
      }
    }
  }



  // filters
  &--filters{
    .form-select{
      border: 1px solid #929292;
      border-radius: 0;
    }
    .woocommerce-sidebar{
      li{
        list-style: none;
        .widget{
          padding: 15px;
          border: 1px solid #929292;
          margin: 0 0 15px;
          &.widget_product_categories{
            .dropdown-menu{
              height: 280px;
            }
          }
        }
      }
    }
    .filter_block{
      .widget-title{
        border: 0;
        border-bottom: 1px solid #929292;
        margin: 0 0 0px;
        line-height: 1;
        padding: 2px 0px 0 10px;
        height: 35px;
        align-items: center;
        display: none;
        &:first-child{
          display: flex;
        }
      }
    }
    .dropdown-menu{
      border: 0;
      @media(min-width: 979px){
        display: block;
        position: relative;
        overflow: hidden;
        overflow-y: scroll;
        padding: 15px 0;

      }
      .product-categories{
        padding: 0 20px;
        li{
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          &.current-cat{
            &::before{
              background-color: #929292;
            }
          }
          &::before{
            content: "";
            position: relative;
            width: 15px;
            height: 15px;
            border: 1px solid #929292;
            border-radius: 50%;
            margin-right: 5px;
            top: -2px;
            left: -2px;
          }
          &:last-child{
            margin-bottom: 0;
          }
          a{
            text-decoration: none;
            font-weight: normal;
            display: block;
            line-height: 1;
          }
        }
      }
    }    
  }

}